USE [master]
GO
/****** Object:  Database [tp05]    Script Date: 19/8/2026 09:05:39 ******/
CREATE DATABASE [tp05]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tp05', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\tp05.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tp05_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\tp05_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tp05].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tp05]
GO
/****** Object:  User [alumno]    Script Date: 19/8/2026 09:05:39 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 19/8/2026 09:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[nombreUsuario] [varchar](50) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[tipoUsuario] [varchar](50) NOT NULL,
	[salt] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([nombreUsuario], [ID], [contraseña], [nombre], [apellido], [tipoUsuario], [salt]) VALUES (N'JEREMIAS', 1, N'mnRDlF/0IxQesspcWjgttQmufs2bnuEyi+dzyFWvS6M=', N'aetad', N'EFAWF', N'Alumno', N'01LFnkjoCBUAbJfKVpBosQ==')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
